h1= blog.title
p= blog.time
p= blog.type
p= blog.desc
.markdown-body !{blog.html}
//a.btn.btn-block.btn-primary(href="/admin/editor/?option=edit?uri=#{blog.uri}/") 再次编辑
form(method="post" action="/admin/blogs/#{blog.uri}/")
  input(type="hidden" name="method" value="delete")
  input.form-control.btn.btn-block.btn-danger(type="submit" value="删除博客")