doctype html
head
  title 博客标题
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="/css/base.css")
  link(rel="stylesheet" type="text/css" href="/css/common.css")
  link(rel="stylesheet" type="text/css" href="/css/article.css")
  link(rel="stylesheet" type="text/css" href="/css/github-markdown.css")
body
  include head
  section.sec-banner.pr.bg-img.h600.bdbx(style="background-image:url('#{blog.img}');")
    .bg-cover.z1
    .pa.z9.w.h
      .container
        .row
          .l-10.l-offset-1.m-10.m-offset-1.s-10.s-offset-1.x-10.x-offset-1
            h1.mv2.f60.f-white.tj #{blog.title}
          .x-8.x-offset-2
            .tc
              .avatar.mauto
                img(src="/users/upload-avatars/avatar-4.jpg")
              a.link 峰会路转
              span.f-white 发表于 #{blog.time}
            p.t2.tj.f16.f-white #{blog.desc}

  .container
    .row
      article.markdown-body !{blog.html}
  section.bg-img.clearfix.h800.pr(style="background-image:url('/images/image-h-2.jpg');")
    .bg-cover.z1
    .pa.z9.w.h
      .container
        .row
          ul.comment-list.w600.mauto
            li.comment
              .clearfix
                a.avatar(href="#")
                  img(src="users/upload-avatars/avatar-1.jpg")
                a.comment_author 间谍减肥
                .comment_time 发表于 2016/11/22 14:45
              .comment_text 我觉得接机哦啊何方呃激将法飞机发帕蒂俄警方男
            li.comment
              .clearfix
                a.avatar
                  img(src="users/upload-avatars/avatar-2.jpg")
                a.comment_author Looede
                span.comment_time 发表于 2016/11/22 14:45
              .comment_text 我觉得接机哦啊何方呃激将法飞机发帕蒂俄警方男得解决碟机佛即佛界哦减肥就诶减肥得空哦软件昆明的时刻恶斗佛鳄接哦减肥的爹
            li.comment
              .clearfix
                a.avatar
                  img(src="users/upload-avatars/avatar-3.jpg")
                a.comment_author 大街
                span.comment_time 发表于 2016/11/22 14:45
              .comment_text 我觉得接机哦啊何方呃激将法飞机发帕蒂俄警方男
            .tc.mt3
              a.link 展开更多评论
          form.comment-editor.mt4.mauto
            textarea.comment-editor_text(placeholder="如果你有什么要说的话...")
            input.btn.comment-editor_submit(type="submit" value="发表")
  include foot
  script(type="text/javascript" src="js/jquery-3.1.1.js")
  script(type="text/javascript" src="js/article.js")